$purple: #5C44A0;
$purpleLight: #7B54A2;
$purpleLighter: #E0DCF5;
$blue: #75BCFF;
$blueLight: #C9E5FF;
$blueDark: #2580D5;
$grayDarker: #444444;
$grayLightest: #B0B0B0;

//Fonts
$font-sans: 'Benton Sans', 'Helvetica Neue', sans-serif;
$font-mono: 'Inconsolata', monospace;

//Grid
$site-width: 1140px;
$padding: 2rem;

//Breakpoints
$screen-small: 1000px;
$screen-tablet: 800px;
$screen-mobile: 600px;
