@import 'bourbon/bourbon';
@import 'flex';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'icons';

@import 'normalize';

html {
  -webkit-font-smoothing: antialiased;
}

* {
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}

body {
  font-family: $font-sans;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  @include transition(all .1s ease);
  text-decoration: none;
}

p {
  line-height: 1.75;
  font-weight: 200;
  font-size: 1rem;
}

p a {
  text-decoration: underline;
}

@mixin button($background: $purple, $color: white) {
  background: $background;
  color: $color;
  &:hover {
    background: lighten($background, 5%);
  }
  &:active {
    background: darken($background, 5%);
    @include transition(background 0 linear);

  }
}

button, .button {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 4px;
  border: 0;
  font-weight: 200;
  @include transition(background .15s ease);
  @include button();
  &.button-block {
    display: block;
  }
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: .9em;
  border: 1px solid $grayLightest;
  border-radius: 3px;
  color: $grayDarker;
  background: white;
  font-weight: 100;
  @include transition(all .15s ease);
  &:focus {
    border-color: $purple;
    outline: none;
  }
}

form {
  input[type="text"],
  input[type="email"] {
    margin-bottom: .75rem;
  }
  .input-double {
    input {
      float: left;
      width: 49%;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  label {
    font-weight: 400;
    font-size: .8rem;
    &.checkbox {
      input {
        margin-right: .25rem;
      }
    }
  }
  footer {
    margin-top: .75rem;
    padding-top: .75rem;
    border-top: 1px solid lighten($grayLightest, 10%);
    button,
    .button {
      float: right;
      font-size: 1.05rem;
    }
  }
}

//Grid setup
.container {
  max-width: $site-width;
  margin: 0 auto;
}

section {
  padding-left: $padding;
  padding-right: $padding;
}

//Main Nav
.main-nav {
  margin: 1.3rem 0;
  @include clearfix();
  .site-id {
    float: left;
    @include screen($screen-mobile) {
      float: none;
      text-align: center;
    }
  }
  nav {
    float: right;
    font-size: .9rem;
    @include screen($screen-mobile) {
      float: none;
      text-align: center;
    }
    a {
      display: block;
      color: $purpleLighter;
      color: fade-out(white, .3);
      padding: .5rem .6rem;
      margin-left: .5rem;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
  .divider {
    width: 1px;
    height: 1.7rem;
    margin: 0 0 -.5rem .5rem;
    background: fade-out(darken($purple, 10%), .25);
  }
  .button {
    @include button($blueDark);
    color: white;
    font-weight: 400;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }
  }
}

.hero {
  overflow: hidden;
  background-color: #979797;
  @include background(
    url(/img/hero-nodes.svg) repeat-x,
    linear-gradient(
      top,
      #979797 0%,
      #543f86 0%,
      #513e8a 21%,
      #4f4699 61%,
      #4f59af 99%,
      #5059b0 100%,
      #979797 100%
    )
  );
  color: white;
  article,
  aside {
    width: 50%;
    float: left;
  }
  article {
    padding-top: $padding*2;
  }
  .hero-image {
    margin: $padding/2 0 -140px;
    text-align: center;
    img {
      display: inline-block;
      width: 85%;
    }
  }
  h1 {
    margin: .2em 0;
    font-size: 4.25rem;
    letter-spacing: -.05em;
  }
  h2 {
    margin: .2em 0;
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $blue;
  }
}

section.sign-up {
  padding-top: $padding*1.5;
  padding-bottom: $padding*1.5;
  @include background-image(linear-gradient(white, $purpleLighter));
  @include clearfix();
  form,
  article {
    float: left;
    width: 50%;
  }
  form {
    padding-right: 7%;
    button,
    .button {
      span:last-child {
        color: lighten($purple, 25%);
      }
    }
  }
  article {
    padding-left: 7%;
  }
  h2 {
    color: $purpleLight; 
    font-weight: 400;
  }
}

section.centered {
  text-align: center;
  padding-top: $padding;
  padding-bottom: $padding;
  h3 {
    font-weight: 300;
  }
}

.logo-list {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 2rem;
    &.soundcloud {
      position: relative;
      top: 18px;
    }
  }
}
